.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  transition: right 0.2s;
}

.wrapperOpen {} /* stylelint-disable-line block-no-empty */

.root {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  @nest .wrapperOpen & {
    display: block;
  }
}

.content {
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: #ccc;
  font-size: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background: none;
    color: #666;
  }
}
